@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&family=Source+Sans+Pro&display=swap");

.container {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #292929;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 110px;
  width: auto;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

header img {
  margin: 10px 10px 10px 100px;
  width: 40px;
  height: 55px;
}

.qala-text {
  color: white;
}

.main {
  background-image: url("./images/office-image.jpeg");
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-text {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: xx-large;
  color: white;
  margin-left: 50px;
}

.main-text span {
  color: orangered;
}

.secondary-text {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: x-large;
  color: white;
  margin-left: 50px;
  width: 400px;
}

input[type="submit"] {
  background-color: orangered;
  border: none;
  border-radius: 20%;
  margin-left: 50px;
  margin-bottom: 50px;
  width: 160px;
  height: 60px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: large;
  color: white;
}

input[type="submit"]:hover{
    color: orangered;
    background-color:transparent;
    border: 3px solid orangered;
    cursor: pointer;
}
